<div class="col-md-12">
  <div class="row mb-3">
    <div class="col-6 page-title ">
      <h1>CONSULTAR CATEGORIA</h1>
    </div>
    <div class="col-6 mt-3">
      <div class="text-right">
        <button class="btn btn-primary" type="submit" routerLink="/categoria/incluir">Incluir Categoria</button>
      </div>
    </div>
  </div>
  <div class="animated fadeIn">
    <form novalidate (ngSubmit)="search(paginacao.pageable.page)" #f="ngForm" class="form-validation">
      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mt-30">
            <div class="card-header">Filtros de pesquisa</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control sislam-input-text" id="nome" name="nome" [(ngModel)]="categoria.nome">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12 mb-3">
    <div class="text-right">
      <button class="btn btn-danger ml-1" type="submit" routerLink="/">Cancelar</button>
      <button class="btn btn-success ml-1" type="submit" (click)="search(0)">Consultar</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-50 mb-3">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Categoria Pai</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
          <ng-container *ngIf="paginacao">
            <tr *ngFor="let categoria of paginacao.content; let i = index">
              <td>{{ categoria.nome}}</td>
              <td>{{ categoria.categoriaPai | categoriaPai }}</td>
              <td>
                <a class="btn btn-default col-sm-2" [routerLink]="['/categoria/editar', categoria.id]">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-default col-sm-2" [routerLink]="['/categoria/visualizar', categoria.id]">
                  <i class="fa fa-eye"></i>
                </a>
                <a class="btn btn-default col-sm-2" (click)="delete(i)">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
          </ng-container>
          <ng-container *ngIf="!paginacao">
            <tr>
              <td colspan="3"><span class="text-center">Nenhum Registro Encontrado</span></td>
            </tr>
          </ng-container>
          </tbody>
        </table>
        <ng-container *ngIf="paginacao">
          <pre>Total de registros: {{paginacao.total}}</pre>
          <ngb-pagination class="d-flex justify-content-center"
                          [collectionSize]="paginacao.total"
                          [pageSize]="paginacao.pageable.pageSize"
                          [(page)]="paginacao.pageable.page"
                          [boundaryLinks]="false"
                          [ellipses]="false"
                          (pageChange)="loadPage($event)">
          </ngb-pagination>
        </ng-container>
      </div>
    </div>
  </div>
</div>
