<div class="col-md-12">
  <div class="row mb-3">
    <div class="col-12 page-title">
      <h1>INCLUIR CATEGORIA</h1>
    </div>
  </div>
  <form id="formCondicionante" #form="ngForm" novalidate>
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="situacao">Nome da Categoria *</label>
                <input class="form-control" type="text" id="nome" name="nome" [(ngModel)]="categoria.nome" [disabled]="disable" required
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="nomeItem">Categoria Pai </label>
                <div class="sislam-form-select">
                  <select id="categoriaPai" name="categoriaPai" class="form-control" [(ngModel)]="categoria.categoriaPai" [disabled]="disable"
                    required>
                    <option value="">Selecione</option>
                      <option [value]="cat" *ngFor="let cat of categorias">{{cat.nome}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="text-right">
        <button class="btn btn-danger ml-1" routerLink="/categoria">Cancelar</button>
        <button class="btn btn-success ml-1" *ngIf="!edit" type="submit" (click)="save()">Incluir Categoria</button>
        <button class="btn btn-success ml-1" *ngIf="edit" type="submit" (click)="save()">Editar Categoria</button>
      </div>
    </div>
  </form>
</div>